## 1.) Imports

In [1]:
import numpy as np
import pandas as pd

from scipy import stats 
import math

import matplotlib.pyplot as plt
import seaborn as sns

#from sklearn.experimental import enable_iterative_imputer
#from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

## 2.) EDA

In [2]:
df = pd.read_csv('GoNoGo28July.csv')

/home/rohit/anaconda3/envs/ml_env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (75,76,77,378,393,394,396) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Viewing sample of the data set

In [3]:
df.head()

,_id,intrimStatus.startTime.$date,intrimStatus.appStart,intrimStatus.dedupe,intrimStatus.posidexDedupeStatus,intrimStatus.emailStatus,intrimStatus.otpStatus,intrimStatus.appsStatus,intrimStatus.panStatus,intrimStatus.aadharStatus,...,dedupeRetryCount,dedupeStatus,ackIdCounter,enachSkipFlag,updatedAchAmount,createdDate.$date,createdBy,updatedDate.$date,updateBy,version.$numberLong
0,80556000091,2020-07-28T07:09:56.447Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,COMPLETE,DEFAULT,DEFAULT,DEFAULT,...,0,False,0,False,0.0,2020-07-28T07:09:56.447Z,prateek,2020-07-28T07:09:56.447Z,prateek,0.0
1,3020CD0125031,2020-07-28T07:09:52.866Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,COMPLETE,DEFAULT,DEFAULT,DEFAULT,...,0,False,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,45903003582,2020-07-28T07:09:52.793Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,COMPLETE,DEFAULT,COMPLETE,UNAUTHORISED,...,0,False,0,False,0.0,NaN,NaN,NaN,NaN,NaN
3,77844000370,2020-07-28T07:09:52.765Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,COMPLETE,DEFAULT,COMPLETE,UNAUTHORISED,...,0,False,0,False,0.0,NaN,NaN,NaN,NaN,NaN
4,25216001283,2020-07-28T07:09:49.563Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,COMPLETE,DEFAULT,COMPLETE,UNAUTHORISED,...,0,False,0,False,0.0,NaN,NaN,NaN,NaN,NaN

### Info of the data set

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2187 entries, 0 to 2186
Columns: 398 entries, _id to version.$numberLong
dtypes: bool(80), float64(76), int64(52), object(190)
memory usage: 5.5+ MB

### Shape of the data set

In [5]:
df.shape

(2187, 398)

### Dropping id column

In [6]:
to_drop = ['_id']

df.drop(to_drop, inplace = True, axis = 1)
df.head(5)

,intrimStatus.startTime.$date,intrimStatus.appStart,intrimStatus.dedupe,intrimStatus.posidexDedupeStatus,intrimStatus.emailStatus,intrimStatus.otpStatus,intrimStatus.appsStatus,intrimStatus.panStatus,intrimStatus.aadharStatus,intrimStatus.mbStatus,...,dedupeRetryCount,dedupeStatus,ackIdCounter,enachSkipFlag,updatedAchAmount,createdDate.$date,createdBy,updatedDate.$date,updateBy,version.$numberLong
0,2020-07-28T07:09:56.447Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,COMPLETE,DEFAULT,DEFAULT,DEFAULT,DEFAULT,...,0,False,0,False,0.0,2020-07-28T07:09:56.447Z,prateek,2020-07-28T07:09:56.447Z,prateek,0.0
1,2020-07-28T07:09:52.866Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,COMPLETE,DEFAULT,DEFAULT,DEFAULT,DEFAULT,...,0,False,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-07-28T07:09:52.793Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,COMPLETE,DEFAULT,COMPLETE,UNAUTHORISED,DEFAULT,...,0,False,0,False,0.0,NaN,NaN,NaN,NaN,NaN
3,2020-07-28T07:09:52.765Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,COMPLETE,DEFAULT,COMPLETE,UNAUTHORISED,IN_PROCESS,...,0,False,0,False,0.0,NaN,NaN,NaN,NaN,NaN
4,2020-07-28T07:09:49.563Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,COMPLETE,DEFAULT,COMPLETE,UNAUTHORISED,IN_PROCESS,...,0,False,0,False,0.0,NaN,NaN,NaN,NaN,NaN

### Describe

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
productSequenceNumber,2187.0,1.000914,0.030234,1.0,1.0,1.0,1.0,2.0
reInitiateCount,2187.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
tvrCntLimit,2187.0,0.689986,1.262777,0.0,0.0,0.0,0.0,3.0
tvrNegCntLimit,2187.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
reLookCount,2187.0,0.003658,0.060384,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
applicationRequest.version.$numberLong,1300.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
dedupeRetryCount,2187.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
ackIdCounter,2187.0,0.042067,0.228494,0.0,0.0,0.0,0.0,4.0
updatedAchAmount,1683.0,1118.981581,5219.417555,0.0,0.0,0.0,0.0,75000.0
version.$numberLong,741.0,6.804318,7.363407,0.0,2.0,4.0,9.0,47.0

### No. of unique values in each column

In [8]:
nunq_df = df.nunique().to_frame()
nunq_df.head()

                                     0
intrimStatus.startTime.$date      2184
intrimStatus.appStart                1
intrimStatus.dedupe                  2
intrimStatus.posidexDedupeStatus     2
intrimStatus.emailStatus             1

In [9]:
nunq_df.shape

(397, 1)

### Removing columns having only 1 unique value

In [10]:
nunq_df[nunq_df[0] == 1].index

Index(['intrimStatus.appStart', 'intrimStatus.emailStatus',
       'intrimStatus.otpStatus', 'intrimStatus.awsS3Status',
       'intrimStatus.additionalProperties', 'intrimStatus.karzaPanStatus',
       'reInitiateCount', 'tvrNegCntLimit', 'reAppraiseCount',
       'reProcessCount',
       ...
       'negativePincode', 'isEditable', 'interfaceName', 'componentList',
       'tvrDecision', 'dedupeRetryCount', 'dedupeStatus', 'enachSkipFlag',
       'createdBy', 'updateBy'],
      dtype='object', length=172)

In [11]:
to_drop = nunq_df[nunq_df[0] == 1].index

df.drop(to_drop, inplace = True, axis = 1)
df.head(5)

,intrimStatus.startTime.$date,intrimStatus.dedupe,intrimStatus.posidexDedupeStatus,intrimStatus.appsStatus,intrimStatus.panStatus,intrimStatus.aadharStatus,intrimStatus.mbStatus,intrimStatus.creditVidyaStatus,intrimStatus.saathiPullStatus,intrimStatus.varScoreStatus,...,applicationRequest.updatedDate.$date,finalApplicationStatus,isAppDownloaded,multiBureuFlag,panVerificationFlag,ackIdCounter,updatedAchAmount,createdDate.$date,updatedDate.$date,version.$numberLong
0,2020-07-28T07:09:56.447Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,...,2020-07-28T07:09:56.430Z,PENDING,False,False,False,0,0.0,2020-07-28T07:09:56.447Z,2020-07-28T07:09:56.447Z,0.0
1,2020-07-28T07:09:52.866Z,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,...,NaN,PENDING,False,False,False,0,NaN,NaN,NaN,NaN
2,2020-07-28T07:09:52.793Z,DEFAULT,DEFAULT,DEFAULT,COMPLETE,UNAUTHORISED,DEFAULT,DEFAULT,DEFAULT,DEFAULT,...,2020-07-28T07:09:52.235Z,PENDING,False,False,False,0,0.0,NaN,NaN,NaN
3,2020-07-28T07:09:52.765Z,DEFAULT,DEFAULT,DEFAULT,COMPLETE,UNAUTHORISED,IN_PROCESS,DEFAULT,DEFAULT,DEFAULT,...,2020-07-28T07:09:52.485Z,PENDING,False,False,False,0,0.0,NaN,NaN,NaN
4,2020-07-28T07:09:49.563Z,DEFAULT,DEFAULT,DEFAULT,COMPLETE,UNAUTHORISED,IN_PROCESS,DEFAULT,DEFAULT,DEFAULT,...,2020-07-28T07:09:49.297Z,PENDING,False,False,False,0,0.0,NaN,NaN,NaN

In [12]:
nunq_df[nunq_df[0] == 2].index

Index(['intrimStatus.dedupe', 'intrimStatus.posidexDedupeStatus',
       'intrimStatus.panStatus', 'intrimStatus.aadharStatus',
       'intrimStatus.saathiPullStatus', 'intrimStatus.varScoreStatus',
       'intrimStatus.scoreStatus', 'intrimStatus.cibilScore',
       'intrimStatus.experianStatus', 'intrimStatus.highmarkStatus',
       'intrimStatus.croStatus', 'intrimStatus.hunterStatus',
       'intrimStatus.scienapticStatus', 'productSequenceNumber', 'statusFlag',
       'tvrCntLimit', 'reLookCount', 'reappraiseReq',
       'applicationRequest.request.applicant.applicantId',
       'applicationRequest.request.applicant.applicantName.verified',
       'applicationRequest.request.applicant.gender',
       'applicationRequest.request.applicant.kyc.0.documentVerified',
       'applicationRequest.request.applicant.kyc.0.documentSelected',
       'applicationRequest.request.applicant.isResidenceAddSameAsAbove',
       'applicationRequest.request.applicant.address.0.addressType',
       'applicationRequest.request.applicant.address.0.negativeAreaNotApplicableFlag',
       'applicationRequest.request.applicant.address.1.negativeAreaNotApplicableFlag',
       'applicationRequest.request.applicant.address.2.addressType',
       'applicationRequest.request.applicant.address.2.negativeAreaNotApplicableFlag',
       'applicationRequest.request.applicant.phone.4.phoneType',
       'applicationRequest.request.applicant.phone.5.phoneType',
       'applicationRequest.request.applicant.email.0.emailType',
       'applicationRequest.request.applicant.email.0.verified',
       'applicationRequest.request.applicant.noOfEarningMembers',
       'applicationRequest.request.applicant.mobileVerified',
       'applicationRequest.request.applicant.emailVerified',
       'applicationRequest.request.applicant.emailVerificationSkip',
       'applicationRequest.request.applicant.emailOtpStatus',
       'applicationRequest.request.applicant.consentToCall',
       'applicationRequest.request.applicant.bookAndWait',
       'applicationRequest.request.applicant.ResiCumOffice',
       'applicationRequest.request.applicant.consentToKyc',
       'applicationRequest.request.applicant.otherKyc',
       'applicationRequest.request.applicant.isDrivingLicenceKarzaEligible',
       'applicationRequest.request.applicant.isVoterIdKarzaEligible',
       'applicationRequest.request.applicant.promoCode',
       'applicationRequest.request.applicant.relationShipSinceWithClient',
       'applicationRequest.request.application.asset.0.postAsset',
       'applicationRequest.appFormGenerated',
       'applicationRequest.achFormGenerated',
       'applicationRequest.appMetaData.branchV2.institutionId',
       'applicationRequest.qdeDecision', 'applicationRequest.karzaFlag',
       'applicationRequest.editable', 'applicationRequest.changeAsset',
       'isAppDownloaded', 'multiBureuFlag', 'panVerificationFlag'],
      dtype='object')

### Value counts for specific columns

In [13]:
df['intrimStatus.dedupe'].value_counts()

DEFAULT     2152
COMPLETE      35
Name: intrimStatus.dedupe, dtype: int64

### Dropping duplicate rows

In [14]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 225)

In [15]:
df.count().to_frame()      # Used to count the number of rows

                                     0
intrimStatus.startTime.$date      2187
intrimStatus.dedupe               2187
intrimStatus.posidexDedupeStatus  2187
intrimStatus.appsStatus           2187
intrimStatus.panStatus            2187
...                                ...
ackIdCounter                      2187
updatedAchAmount                  1683
createdDate.$date                    3
updatedDate.$date                  217
version.$numberLong                741

[225 rows x 1 columns]

### Checking for any null values

In [16]:
df.isnull().sum()

intrimStatus.startTime.$date           0
intrimStatus.dedupe                    0
intrimStatus.posidexDedupeStatus       0
intrimStatus.appsStatus                0
intrimStatus.panStatus                 0
                                    ...
ackIdCounter                           0
updatedAchAmount                     504
createdDate.$date                   2184
updatedDate.$date                   1970
version.$numberLong                 1446
Length: 225, dtype: int64

### Handling Missing or Null values

In [17]:
df = df.dropna(axis=1, thresh=1000)    # Dropping the columns having threshold of 1000 non-NA values.
df.count()

intrimStatus.startTime.$date        2187
intrimStatus.dedupe                 2187
intrimStatus.posidexDedupeStatus    2187
intrimStatus.appsStatus             2187
intrimStatus.panStatus              2187
                                    ...
isAppDownloaded                     2187
multiBureuFlag                      2187
panVerificationFlag                 2187
ackIdCounter                        2187
updatedAchAmount                    1683
Length: 190, dtype: int64

In [24]:
miss_df = df.isnull().sum().to_frame()   # After dropping the values
miss_df.tail()

                       0
isAppDownloaded        0
multiBureuFlag         0
panVerificationFlag    0
ackIdCounter           0
updatedAchAmount     504

In [26]:
miss_df[0].values

array([  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0, 291,   0,   0,   0,   0,   0,   1,   0, 509, 509,
       163, 348, 490,   0, 134,   0,   0,   0,   0,   0,   0,   0,   2,
        56,   1,   1,   0,   0,   0,   0,   0,   0,   0,   0, 100,   1,
         0,   1, 590,   0,  17, 675, 675, 675, 675, 675, 675, 675, 675,
       689, 689, 689, 689, 689,   0, 715, 728, 729, 729, 729,   0, 591,
         0, 710, 727,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0, 590, 590, 504,   0,   0,   0,   0,
         1,   0,   0,   0,   0,   0,   0, 505, 720,  19,  19,  19,  17,
        18, 207,  18, 504, 504, 504, 504, 504, 504, 504, 504, 504, 504,
       504, 504, 504, 504, 504, 504, 504, 504, 504, 504, 504, 504, 504,
       504, 504, 504, 504, 504, 504, 504, 504, 504, 504, 504, 504, 504,
       504, 504, 504, 504, 504, 504, 504, 486,   0,   0,   0,  20,   0,
       887, 887,   0,   0,   0,   0,   0, 504])

In [19]:
df.shape

(2187, 190)

In [34]:
df['updatedAchAmount'].value_counts().to_frame()

         updatedAchAmount
0.0                  1572
9990.0                 42
16139.0                 5
14989.0                 2
10490.0                 2
...                   ...
18945.0                 1
58000.0                 1
14375.0                 1
19270.0                 1
10914.0                 1

[63 rows x 1 columns]

In [37]:
df['applicationRequest.request.applicant.phone.0.phoneNumber']

0       7012880821
1       8790101014
2       9752663177
3       7986580818
4       8838690799
           ...
2182    9653160514
2183    9853235900
2184    6363250699
2185    9822929860
2186    7550938693
Name: applicationRequest.request.applicant.phone.0.phoneNumber, Length: 2187, dtype: int64